*{
    margin: 0px;
    padding: 0px;

    font-family:Arial, Helvetica, sans-serif
}

header{
    background-color: rgb(49, 49, 134);

    height: 100px;
    width: auto;

    text-align: center;
}

header > h1 {
    
    color: rgba(255, 210, 10, 0.979);

    height: 4.5vh;
    padding: 20px;
}

form {
    background-color: rgb(194, 207, 207);

    

}
#div-principal {
    background-color: rgb(230, 170, 92);

    display: flex;
    justify-content: center;

    width: 100vh;
    height: 400px;
    margin: auto ;
    padding: auto;
 
    
}


#h1forms {
    color: rgb(13, 13, 129);

    text-align: center ;
}

.input{
    margin-left:10px ;
    margin-bottom:3px;
    margin-top: 10px;
    margin-right: 20px;

}
body {
    background-color: rgb(26, 161, 116);
    
}
