*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

    font-family:Arial, Helvetica, sans-serif;
    color:#fff;
    outline: none;
}

body { 
    width: 100%;
    height: 100%;

 
    background-image:url(pexels-miyatavictor-1824273.jpg);
    background-size:cover;
    /* o size trava o fundo fixo né? */
    background-position: center;
    
}
main { 

    display: flex;
    justify-content: center;
    align-items: center;

    min-height: 100vh;

    /* assim que se centraliza div */

    

}

section {
    background-color: rgb(66, 15, 100,0.5);
    background:blur(20px);

    box-shadow: rgba(253, 6, 171, 0.897) 0px 5px 15px;


    width: 350px;
    height: 300px;
    border-radius: 20px;

    text-align: center;
  

}

form {

    width:100%;
    height: 100%;

    margin: 15px 0px 0px 5px;
}

.div-input {
    text-align: left;
    /* color: rgb(18, 26, 138); */

    width: 100%;
    height: 100%;

}
.div-input input {
    color:  rgb(0, 0, 0);
   background: #ffffff41;

   margin: 5px 5px 2px 5px;
   padding: 5px;
   border-radius: 5px;

   width: 90%;


}
.div-input ::placeholder {
    color: rgb(21, 21, 22);
}






