*{
    margin: 0%;
    padding: 0%;
}

header {
    height: 20%;
    background:linear-gradient(to bottom, #0b62e4, #1d28c5, #064185);
    padding: 40px;
}  

    header > h1 {
        text-align: center;
        color: aliceblue;
        padding: 5px;
    }


    body {
        background:linear-gradient(to top, #0b62e4);
        width: 100%;
        height: 100%;
        
    }

    section {
        width: 100%;
        height: 100vh;
    }
    #form {
        background-color: #3a6a7e;

        display: flex;
        justify-content: center;
        align-items: center;
        height: 200px;
        width: 400px;
       
    }
        


        
        
        
    
.entrada {
    
    text-align:left;
    padding-left: 20px;
    
    margin-top: 5px;
   
}


