*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    
}

body {
background-color: blue;
color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100vh;
    height: 100vh;
}

section {
    background-color: rgb(14, 156, 109);

    justify-content: center;
    align-items: center;

}